.container .card {
    position: relative;
    height: 230px;
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container .card .box {
    width: 40vw;
    max-width: 700px;
    min-width: 400px;
    position: absolute;
    background: #2a2b2f;
    border-radius: 15px;

    overflow: hidden;
    transition: 0.5s;
}

/* .container .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
} */

.container .card .box .content {
    padding: 20px;
}

.container .card .box .content h3 {
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
}

.container .card .box .content h2 {
    position: relative;
    font-size: 1.2rem;
    color: #fff;
    transition: 0.5s;
    margin-bottom: 15px;
}

.buttons_container {
    margin-top: 1rem;
    margin-bottom: 0;
    display: flex;
    justify-content: right;
}


.buttons_container .delete_card {
    height: 45px;
    width: 30%;
}

.buttons_container .change_card {
    height: 45px;
    width: 30%;
}

.buttons_container .save_changes_card {
    height: 45px;
    width: 30%;
}


.submit.delete_card {
    background-color: rgb(126, 42, 42);
    transition: 0.5s;
    margin-left: 20px;

}

.submit.delete_card:hover {
    background: rgb(180, 42, 42);
    /* color: white; */

}

.submit.change_card {
    background-color: rgb(229, 180, 1);
    transition: 0.5s;
}

.submit.change_card:hover {
    background: rgb(247, 210, 26);
    /* color: white; */
}

.submit.save_changes_card {
    background-color: rgb(84, 167, 30);
    transition: 0.5s;
}

.submit.save_changes_card:hover {
    background: rgb(70, 182, 70);
    /* color: white; */
}